{% extends 'base.html' %}


{% block head %}
<title>Поиск</title>
{% endblock %}

{% block body %}
<div class="container">
<h4 class="mb-3">Billing address</h4>
    <form>
        <div class="col-sm-6">
          <label for="Mobilephone" class="form-label">Mobile phone</label>
          <input type="text" class="form-control" name="Mobilephone">
        </div>
        <br>
        <button class="w-10 btn btn-outline-success btn-sm submit-form" type="button" >Continue to checkout</button>
        <hr class="my-3">
        <input class="form-control" type="text" id="out" placeholder="Readonly input here…" readonly>
    </form>
</div>
{% endblock %}